# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ZergRushTest.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\С#\Мои проекты\ZergRushTest\.idea\.idea.ZergRushTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
